
.container {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 34px;
    color: #de2424;
    margin-bottom: 20px;
  }
  button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  li h3 {
    margin: 0;
    font-size: 20px;
    color: #555;
  }
  
  li p {
    margin: 5px 0 0;
    color: #777;
  }
  
  button:last-child {
    background-color: #dc3545;
  }
  
  button:last-child:hover {
    background-color: #a71d2a;
  }
  .text-center {
    text-align: center;
  }
  .alert {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  